<div class="login-text-section">
<h3 class="login-title"> Student Notes</h3>
<p>Login to create new lesson notes</p>
</div>
</div>
<div class="divider"></div>
<div class="login-btn">
    <a href="/auth/google" class="btn blue darken-2">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>
</main>