/*Basic styles*/
body{
    display: flex;
    flex-direction: column;
    background-color: #282D35;
    color: #ffffff;
    min-height: 100vh;
}

main{
    flex: 1 0 auto;
}
.card{
    background-color: #2e4b68;
}
.sidenav{
    background-color: #282D35;
    color: white;
}

.side-nav-text{
    color: white;
}
   
/*For the dashboard striping*/
.striped{
    background-color: #2e4b68;
}
/* When the switch is inactive/unchecked */   
  
/*Login section*/
.login-text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider{
    height: 2px;
    margin-bottom: 1rem;
}

.login-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.fa-small{
    font-size: 15px;
}

.dash-edit-del-btns{
    display: flex;
    gap: 10px
}

.img-small{
    max-width: 180px;
}

/*input fields on note edit screen*/
.input-field label {
    color: #fff !important;
}
.input-field input[type=text]:focus + label {
    color: #fff !important;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}

.input-field *{
    color: white;
}

input.select-dropdown {
    background: #282D35 !important;
    color: #fff;
}
ul.dropdown-content.select-dropdown li span {
    background: #282D35;
    color: #fff;
}

/*arrangement for the delete, cancel and save buttons in the edit screen*/
.edit-btns{
    display: flex;
    gap: .5rem;
}


/*Footer Section*/
footer{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding: .5rem 1rem .5rem 1rem;
}

.link-tags{
    display: flex;
    font-size: 1.2rem;
    gap: .7rem;
    padding-left: 1rem;
}