/*Login section*/

.login-text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider{
    height: 2px;
    margin-bottom: 1rem;
}

.login-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.fa-small{
    font-size: 15px;
}

.dash-edit-del-btns{
    display: flex;
    gap: 10px
}

.img-small{
    max-width: 180px;
}
