<h3>Edit Note</h3>
<div class="row">
    <form action="/notes/{{notes._id}}" method="post" class="col s12">
    <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input class="white-text" type="text" name="title" id="title" value="{{notes.title}}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="status" id="status">
                    {{#select notes.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Enter Notes Below</h5>
                <textarea name="body" id="body">{{notes.body}}</textarea>
            </div>
        </div>

        <div class="row edit-btns">
            <input type="submit" value="Save" class="btn blue darken-2">
            <a href="/dashboard" class="btn grey darken-1">Cancel</a>
    </form>
    <form action="/notes/{{{notes._id}}}" method="post" id="delete-form">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="float center btn red darken-2">Delete</button>
    </form> 
    </div>
</div>